SiteConstraint C1 609I A FLAT_HARMONIC 6.73 1.0 2.0
SiteConstraint C1 610I A FLAT_HARMONIC 5.83 1.0 2.0
SiteConstraint C1 617K B FLAT_HARMONIC 6.55 1.0 2.0
SiteConstraint C1 618K B FLAT_HARMONIC 5.16 1.0 2.0
