AtomPair C1 3E CA 245A FLAT_HARMONIC 5.8 1.0 1.5
AtomPair C1 3E CA 246A FLAT_HARMONIC 6.6 1.0 1.5
AtomPair C1 3E CA 258A FLAT_HARMONIC 7.1 1.0 1.5
AtomPair C1 2G CZ 243B FLAT_HARMONIC 4.5 1.0 1.5
AtomPair C3 2G CD1 243B FLAT_HARMONIC 5.2 1.0 1.5
AtomPair C5 2G CD2 243B FLAT_HARMONIC 4.1 1.0 1.5
AtomPair C1 3G CA 245B FLAT_HARMONIC 5.2 1.0 1.5
AtomPair C1 3G CA 246B FLAT_HARMONIC 5.7 1.0 1.5
AtomPair C1 3G CA 258B FLAT_HARMONIC 6.9 1.0 1.5
